body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #333333;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.header h1 {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
}

.calculator-container {
    width: 300px;
    height: 450px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
}

#display.cal-dark-input {
    width: calc(100% - 10px);
    height: 10px;
    margin-bottom: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-align: right;
    font-size: 20px;
    pointer-events: none;
    background-color: #F5F5F5;
    color: #000000;
    font-weight: bold;
}

#history {
    width: calc(100% - 10px);
    height: 50px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-align: right;
    font-size: 12px;
    background-color: #F5F5F5;
    color: #808080;
    font-weight: bold;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#history::-webkit-scrollbar {
    display: none;
}

.calculator-container .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calculator-container .buttons button {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: #DDDDDD;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.calculator-container .buttons button:hover {
    background-color: #666666;
    color: #FFFFFF;
}

.calculator-container .buttons button.operator {
    color: #FF0000;
}

.calculator-container .buttons button[data-value="="] {
    width: 115px;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#history {
    resize: none;
}
